* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug-mode {
    border: 2px solid black;
    height: ;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 60%; 
    margin: 25px auto;
}

header {
    height: 85px;
    background-color: white;
    padding: 5px 10px;
}

/* Inizio bottoni */
header li {
    list-style-type: none;
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 14px;
    border-right-width: 2px;
}

header ul {
    font-size: 0;
    margin-top: 10px;
}

header li a {
    text-decoration: none;
    color: gray;
}
/* Fine bottoni */

.jumbotron {
    height: 300px;
    background-color: rgb(135, 222, 135);
    margin-top: 20px;
    border-radius: 10px;
}

.content {
    padding-bottom: 12px;
    background-color: rgb(121, 121, 255);
    margin-top: 20px;
}

#bar {
    height: 60px;
    background-color: rgb(131, 220, 250);
    margin-bottom: 12px;
}

.column {
    height: 316px;
    width: 21%;
    background-color: rgb(131, 220, 250);
    float: left;
}

.main {
    height: 316px;
    width: 54%;
    margin: 0 2%;
    background-color: rgb(131, 220, 250);
    float: left;
}

footer {
    height: 40px;
    background-color: rgb(141, 40, 224);
    margin-top: 8px;
}