* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .debug-mode {
    border: 2px solid black;
    height: ;
} */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
    background-color: rgba(247, 247, 220, 0.2);
    height: 100%;
}
.container {
    width: 80%; 
    margin: auto;
}

.logo {
    height: 60px;
    padding-right: 15px;
    border-right: 2px solid rgb(221, 221, 221);
}

/* Inizio bottoni */
header li {
    list-style-type: none;
    display: inline-block;
    background-color: white;
    padding: 3px 5px;
    border-radius: 7px;
    font-size: 14px;
    font-style: normal;
    font-family: 'Noto Sans', sans-serif;
    border-right-width: 2px;
    margin-top: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

header li:hover {
    background-color: rgb(221, 221, 221);
}

header ul {
    font-size: 0;
    margin-top: 5px;
}

header li a {
    text-decoration: none;
    color: gray;
}
/* Fine bottoni */

.jumbotron {
    height: 380px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
}

.banner {
    width: 50%;
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.content {
    padding-bottom: 12px;
    background-color: rgb(121, 121, 255);
    margin-top: 10px;
}

#bar { 
    background-color: white;
    margin-bottom: 12px;
}

#bar p{
    font-family: 'Noto Sans', sans-serif;
    color: gray;
}
.column {
    height: 316px;
    width: 21%;
    background-color: rgb(131, 220, 250);
    float: left;
}

.main {
    height: 316px;
    width: 54%;
    margin: 0 2%;
    background-color: rgb(131, 220, 250);
    float: left;
}

footer {
    height: 25px;
    background-color: rgb(141, 40, 224);
    margin-top: 8px;
}